@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../../public/vendor/fonts/CabinetGrotesk-Regular.woff2");
}

.weather {
  position: relative;
}

.weather__info {
  position: absolute;
  left: 16px;
  top: 29px;
  color: white;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 25px;
}

.weather__image {
  width: 100%;
  min-height: 80px;
}
