@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../../public/vendor/fonts/CabinetGrotesk-Bold.woff2");
}

.main {
  padding: 0 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.card__section {
  padding-top: 40px;
}

.card__items {
  width: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.weather__suggest {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 34px;
}
