.itemModal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.itemModal__container {
  position: relative;
  height: 610px;
  width: 498px;
  background-color: #fff;
  border-radius: 16px;
}

.itemModal__closeButton {
  background-image: url("../../images/closeButtonImage.png");
  background-position: center;
  position: absolute;
  top: 27px;
  right: 27px;
  height: 14px;
  width: 14px;
  z-index: 4;
}

.itemModal__title {
  position: absolute;
  bottom: 75px;
  left: 20px;
  margin: 0px;
  z-index: 1;
  height: 24px;
  width: 36px;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  z-index: 2;
}

.itemModal__image {
  position: absolute;
  top: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 498px;
}